body {
    background-color: rgb(88, 40, 40);
}

* {
    margin: 40px;
    padding: 20px;
    text-align: center;
    font-size: 25px;
}

.paragrafo-padrao {
    background-color: #f5f5f5;
}

.paragrafo-destacado {
    background-color: #f0cce2;
}